html {
    height: 100%;
  }
  body {
    min-height: 100%;
  }

.has-text-color-davys-gray{
    color:#50514F
}
.has-text-color-cadet-gray{
    color:#9AA0A8
}
.has-text-color-burnt-orange{
    color:#C75000
}
.has-text-color-mellow-apricot{
    color:#FFBF69
}
.has-text-color-green-yellow-crayola{
    color:#E9EB9E
}
.has-text-color-white{
    color:#fffffffe
}


.has-background-color-davys-gray{
    background-color:#50514F
}
.has-background-color-cadet-gray{
    background-color:#9AA0A8
}
.has-background-color-burnt-orange{
    background-color:#C75000
}
.has-background-color-mellow-apricot{
    background-color:#FFBF69
}
.has-background-color-green-yellow-crayola{
    background-color:#E9EB9E
}

