<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  <link rel="stylesheet" href="/static/spruillio.css">
</head>

<body class="has-background-color-davys-gray">

  <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="http://spruill.io">
        <h1 class="title has-text-color-cadet-gray">Stephen</h1>
        <h1 class="title has-text-color-burnt-orange">Spruill</h1>
      </a>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="menubar">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="menubar" class="navbar-menu">
      <div class="navbar-start">

      </div>

      <div class="navbar-end">

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Navigate
          </a>

          <div class="navbar-dropdown is-right">
            <a class="navbar-item" href="#Projects" data-target="Projects">
              Projects
            </a>

            <a class="navbar-item" href="#Contact" data-target="Contact">
              Contact
            </a>
            <hr class="navbar-divider">
            <a class="navbar-item" href="#Contact" data-target="Contact">
              Report an issue
            </a>

          </div>
        </div>
      </div>
    </div>
  </nav>

  <script>
    document.addEventListener('DOMContentLoaded', () => {

      // Get all "navbar-burger" elements
      const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

      // Check if there are any navbar burgers
      if ($navbarBurgers.length > 0) {

        // Add a click event on each of them
        $navbarBurgers.forEach(el => {
          el.addEventListener('click', () => {

            // Get the target from the "data-target" attribute
            const target = el.dataset.target;
            const $target = document.getElementById(target);

            // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
            el.classList.toggle('is-active');
            $target.classList.toggle('is-active');

          });
        });
      }

    });
  </script>

  <section class="section is-medium has-text-centered">
    <h1 class="title has-text-color-white">Welcome,</h1>
    <p class="subtitle has-text-color-cadet-gray">
      My name is <strong style="color: #C75000;">Stephen Spruill</strong> and these are my projects.
    </p>

  </section>

  <section id="Projects" class="section">
  </section>

  <section class="section">
    <div class="container">

      {% for project in project_list %}
        
        <div class="box p-0 has-background-color-cadet-gray">
          <div class="columns">
            <div class="column pt-0 pb-0">
              <div class="card p-0 has-background-color-cadet-gray">
                <div class="card-content">
                  <p class="title is-4"><a href="{{ project.link }}"
                      class="title is-4 has-text-color-davys-gray">{{ project }}</a></p>
                </div>
                <div class="card-image">
                  <figure class="image is-4by3">
                    {% if project.preview_image %}
                    <img src="/media/{{ project.preview_image }}" alt="Placeholder image">
                    {% else %}
                    <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
                    {% endif %}
                  </figure>
                </div>
              </div>
            </div>
            <div class="column has-text-color-davys-gray">
              {{ project.description }}
            </div>
          </div>
        </div>
      {% endfor %}

  </section>

  <section id="Contact" class="section has-text-centered" style="margin-top: 8%;">
    <h1 class="title has-text-color-white">Contact Me</h1>
  </section>

  <div class="container is-max-desktop">
    <form action="https://formsubmit.co/b1d88c5350901130c39acc5b50216f56" method="POST">
      <div class="field is-horizontal">

        <div class="field-body">
          <div class="field">
            <p class="control has-icons-left">
              <input class="input" type="text" name="Name" placeholder="Name">
              <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
              </span>
            </p>
          </div>
          <div class="field">
            <p class="control has-icons-left">
              <input class="input" type="email" name="Email" placeholder="Email">
              <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
              </span>
            </p>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">

        <div class="field-body">
          <div class="field">
            <div class="control">
              <input class="input" type="text" name="Subject" placeholder="e.g. Partnership opportunity">
            </div>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">

        <div class="field-body">
          <div class="field">
            <div class="control">
              <textarea class="textarea" name="Message" placeholder="Your message here..."></textarea>
            </div>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">

        <div class="field-body">
          <div class="field">
            <div class="control">
              <button class="button has-background-color-burnt-orange" type="submit">
                Send message
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

  <section class="section">
  </section>

</body>
<footer style="background-color: #363636;" class="footer">
  <div class="content has-text-left">
    <p class="has-text-color-cadet-gray">Email: stephen_spruill@ymail.com</p>
    <p class="buttons">
      <a button class="button has-background-color-burnt-orange" href="https://github.com/stephenspruill">
        <span class="icon">
          <i class="fab fa-github"></i>
        </span>
        <span>GitHub</span></a>
      </button>
      <a button class="button has-background-color-burnt-orange"
        href="https://www.linkedin.com/in/stephen-spruill-7786b19a/">
        <span class="icon">
          <i class="fab fa-linkedin"></i>
        </span>
        <span>LinkedIn</span></a>
      </button>
      <button class="button has-background-color-burnt-orange" id="resume">
        <span class="icon">
          <i class="fas fa-file"></i>
        </span>
        <span>Resume</span>
      </button>
  </div>
</footer>

<div class="modal">
  <div class="modal-background"></div>
  <div class="modal-card" style="height: 75%;">
    <header class="modal-card-head">
      <p class="modal-card-title">Resume</p>
      <button class="delete" aria-label="close" id="close"></button>
    </header>
    <section class="modal-card-body">
      <iframe
        src="https://docs.google.com/document/d/e/2PACX-1vToHEiBiYDzbQ9PWZ_8TZLYL-kW2iPOQAgqnw1aDxQwdkW5fhk5zXTi_w0dqLxxiOspeins1QjZQbv9/pub?embedded=true"
        style="width: 100%; height: 100%;"></iframe>
    </section>
  </div>
</div>

<script>
  const resumeButton = document.querySelector('#resume');
  const closeModal = document.querySelector('#close');
  const modal = document.querySelector('.modal');

  resumeButton.addEventListener('click', () => {
    modal.classList.add('is-active');
  })

  closeModal.addEventListener('click', () => {
    modal.classList.remove('is-active');
  })
</script>

</html>